.bingo-card {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  position: relative;
  padding: 20px;

}

.bingo-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.bingo-cell {
  background-color: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bingo-cell:hover {
  background-color: #ddd;
}

.bingo-cell.picked {
  background-color: #009688;
  color: #fff;
}

.win-message {
  margin-top: 20px;
}

.win-message h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Confetti styles */
.confetti {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* Styles for mobile */
@media (max-width: 600px) {
  .bingo-card {
    padding: 0;
  }

  .bingo-cell {
    font-size: 14px;
    padding: 5px;
  }

  .win-message h2 {
    font-size: 24px;
  }
}
